body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

div {
  padding: 20px;
}

h2 {
  color: #555;
}

p {
  font-size: 24px;
  color: #111;
}
